
body {
    position: relative;
    height: 200vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(24, 24, 24);
    /* display: flex;
    flex-direction: column; */
}

html {
    scroll-behavior: smooth;
}

.SloganCatch {
    position: relative;
    
}

#BusinessText {
    position: absolute;
    top: 32%;
    left: 2%;
    color: white;
    font-size: 4em;
    font-family: Arial;
    font-weight: bold;
}

#SloganText {
    position: absolute;
    top: 45%;
    left: 2.3%;
    color: white;
    font-size: 2em;
    font-family: Arial;
    font-weight: 500; 
}

.HeaderClass {
    position: relative;
    top: -10px;
    left: -8px;
    height: 90vh;
    width: 100vw;
    background-color: red;
}

#HeaderImage {
    height: 90vh;
    width: 100vw;
}

#BarbershopText {
    text-decoration: none;
}

#BarbershopLogoText {
    position: relative;
    /* height: 40px; */
    height: 1.5vh;
    bottom: 100%;
    /* top: -860px; */
    left: 20px;
    color: #1b9bff;
    font-size: 3em;
    cursor: pointer;
}

#HeaderAppointmentButton {
    position: absolute;
    font-size: 1.7em;
    bottom: 6%;
    left: 41%;
    cursor: pointer;
    height: 7vh;
    width: 18vw;
    background-color: transparent;
    border: 2px solid;
    border-color:  #1b9bff;
    color: white;
    font-weight: 500;
}

#HeaderAppointmentButton:hover {
    background-color: #1b9bff;
 }

.navbar {
    position: relative;
    bottom: 123%;
    left: 55%;
    width: 25%;
    background: transparent;
    color: #fff;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    gap: 25px;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    position: relative;  
    text-decoration: none;
    font-size: 1.1em;
    font-family: Helvetica;
    color: #fff;
    transition: 0.3s ease;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #10a37f;
    transition: 0.3s ease;
}

.navbar ul li a:hover {
    color:#1b9bff;
}

.navbar ul li a:hover {
    width: 100%;
}

#navbarButton {
    position: relative;
    bottom: 10px;
    height: 5vh;
    width: 10vw;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid;
    border-color:  #1b9bff;
    color: white;
    font-size: 1.3em;
    font-weight: 500;
}

#navbarButton:hover {
    background-color: #1b9bff;
 }




#AboutImage {
    position: relative;
    top: 10vh;
    left: 1%;
    height: 60vh;
    width: 35vw;
    border: 4px solid;
    border-color: #1b9bff;
}

.AboutSection2 {
    position: relative;
    left: 54%;
}

#AboutBusinessText {
    position: relative;
    bottom: 50vh;
    left: 45%;
    font-family: Arial;
    font-weight: medium;
    font-size: 30px;
    color: white;
}

#AboutExperienceText {
    position: relative;
    bottom: 53vh;
    left: 45%;
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

#AboutParagraph {
    position: relative;
    bottom: 55vh;
    left: 45%;
    font-size: 1.6em;
    font-family: Arial;
    color: white;
}

/* Service Section */

 #ServiceTitle {
    position: absolute;
    font-size: 4em;
    left: 40%;
    top: 85%;
    font-family: Arial;
    font-weight: bold;
    color: white;
}


#ServiceProvide {
    position: relative;
    left: 42%;
    bottom: 10vh;
    /* bottom: 750px;
    left: 620px; */
    font-size: 2em;
    font-family: Arial;
    font-weight: bold;
    color: white;
}


#HairText {
    position: relative;
    top: -6vh;
    display: grid;
    justify-items: center;
    font-size: 1.8em;
    font-family: Helvetica; 
}

#KidsHaircutText {
    position: relative;
    left: 30%;
    bottom: 3vh;
    font-size: 1.8em;
    font-family: Arial;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#TrimText {
    position: relative;
    top: -5%;
    left: 32%;
    bottom: 0vh;
    font-size: 1.8em;
    font-family: Arial;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#DesignText {
    position: relative;
    left: 34%;
    bottom: 3vh;
    font-size: 1.8em;
    font-family: Arial;
    font-weight: bold;
    color: rgb(0, 0, 0);
}



.serviceimages {
    position: relative;
    left: 8%;
    bottom: 10vh;
    height: 30vh;
    width: 20vw;
    margin-right: 2vw;
}

#HaircutText {
    position: relative;
    bottom: 8vh;
    left: 14vw;
    color: white;
    font-size: 2em;
    font-family: Arial;
    font-weight: 600;
}

#KidHaircutText {
   position: relative;
   bottom: 12vh;
   left: 33vw;
   color: white;
   font-size: 2em;
   font-family: Arial;
   font-weight: 600;
}

#BeardText {
   position: relative;
   bottom: 16vh;
   left: 57vw;
   color: white;
   font-size: 2em;
   font-family: Arial;
   font-weight: 600;
}

#DesignTxt {
    position: relative;
    bottom: 21vh;
    left: 81vw;
    color: white;
    font-size: 2em;
    font-family: Arial;
    font-weight: 600;
}

/* Gallery Section */

#GalleryText {
    position: absolute;
    font-size: 4em;
    left: 35%;
    top: 120%;
    color: white;
    font-weight: bold;
    font-family: Helvetica;
}

.GalleryImages {
    position: relative;
    top: 20vh;
    left: 10%;
}



/* Pricing Section */

#BestPricingText {
    position: absolute;
    top: 178%;
    left: 15%;
    /* bottom: 950px;
    left: 300px; */
    font-size: 2.3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    color: white;
}

#SpringfieldBestPricesText {
    position: absolute;
    top: 179%;
    left: 15%;
    /* bottom: 1020px;
    left: 300px; */
    font-size: 60px;
    font-weight: 500;
    font-family: Impact;
    color: white;
}

#HaircutOptionsIMG {
    position: absolute;
    top: 190%;
    left: 13%;
    height: 55vh;
    width: 33vw;
}


.options {
    position: relative;
    top: 55vh;
    left: 50%;
    /* top: 200%;
    left: 50%; */
 }
 
 .OptionName {
     color: white;
     font-size: 20px;
     font-family: Arial;
 }
 
 #HairLine {
     position: relative;
     top: -20px;
     left: 100px;
     color: white;
 }
 
 #Line2 {
     position: relative;
     top: -22px;
     left: 150px;
     color: white;
 }
 
 #Line3 {
     position: relative;
     top: -24px;
     left: 70px;
     color: white;
 }
 
 #Line4 {
     position: relative;
     top: -23px;
     left: 83px;
     color: white;
 }
 
 #Line5 {
    position: relative;
    top: -25px;
    left: 90px;
    color: white;
     
 }
 
 #Line6 {
     position: relative;
     top: -20px;
     left: 140px;
     color: white;
 }
 
 #Line7 {
     position: relative;
     top: -24px;
     left: 100px;
     color: white;
 }
 
 #Price7 {
     position: relative;
     left: 470px;
     font-weight: bold;
 }
 
 #Price6 {
     position: relative;
     left: 505px;
     font-weight: bold;
 }
 
 #Price5 {
     position: relative;
     left: 455px;
     font-weight: bold;
 }
 
 #Price4 {
     position: relative;
     top: -42px;
     left: 450px;
     font-size: 20px;
     font-family: Arial;
     font-weight: bold;
     color: white;
 }
 
 #Price3 {
     position: relative;
     top: -42px;
     left: 435px;
     font-size: 20px;
     font-family: Arial;
     font-weight: bold;
     color: white;
 }
 
 #Price2 {
     position: relative;
     top: -43px;
     left: 520px;
     color: white;
     font-size: 20px;
     font-family: Arial;
     font-weight: bold;
 }
 
 .OptionPrice {
   position: relative;
   top: -42px;
   left: 480px;
   color: white;
   font-size: 20px;
   font-family: Arial;
   font-weight: bold;
 }
 
/* Client Testimonal */

#ClientTestimonialsDiv {
    position: relative;
    top: 30%;
    left: 10%;
}

#ClientTestimonyTitle {
    color: white;
    font-size: 3em;
    font-family: Helvetica;
}

#ClientParagraph {
    color: white;
    font-size: 1.7em;
    font-family: Arial;
    font-weight: 500;
}

#ClientImage {
    position: absolute;
    top: 10%;
    left: 35%;
    width: 55vw;
    height: 60vh;
}

/* Footer */

footer {
    position: relative;
    top: 50.5%;
    left: -0.05%;
    background-color: rgb(37, 37, 37);
    height: 20vh;
    width: 100vw;
}

#InstagramLogo {
   height: 8vh;
   width: 5vw;
   cursor: pointer;
   border-radius: 4cm;
}

#TikTokLogo {
    height: 8vh;
    width: 5vw;
    cursor: pointer;
    border-radius: 4cm;
}

.FooterImages {
    position: relative;
    left: 50%;
    margin-right: 15px;
}


#CopyrightText {
    position: relative;
    bottom: 124%;
    left: 75%;
    color: white;
    font-size: 1.3em;
    font-family: Arial;
}

#OwnerText {
    position: relative;
    bottom: 135%;
    left: 75%;
    color: white;
    font-size: 1.3em;
    font-family: Arial;
}

.NavigationTexts {
    position: relative;
    top: 40%;
    left: 2%;
    color: white;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 2em;
    font-weight: 550;
    margin-right: 15px;
}


#renzoblendzfooter {
    position: relative;
    /* bottom: 125px;
    left: 550px; */
    top: -45%;
    left: 38%;
    color:#1b9bff;
    font-size: 4.4em;
}






